body {
    background-color: rgb(28, 28, 28);
    margin: 4px 10px;
}

/*Main grid*/
.flex-grid {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    height: 600px;
    width: 600px;
    background-color: white;
    box-shadow: 0 3px 10px white;
}

.col, .row {
    display: flex;
    flex-basis: 0;
    width: auto;
    height: auto;
    flex: 1 0 auto;
}

.hover-normal {
    background-color: black;
}

.col {
    flex-direction: column;
}

/*Size button styles*/
input, button {
    padding: 10px;
    margin: 10px 0px 10px 0px;
    font-weight: 600;
    font-size: 0.875rem;
    border-radius: 8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(62, 62, 62);
    backdrop-filter: blur(16px);
    border: 2px solid white;
    transition: box-shadow 0.25s linear;
    color: white;
}

input {
    width: 218px;
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: inset 0 0 0 1.5px white;
}